.home {
  display: flex;
  margin: 10%;
  padding: 0;
  text-align: left;
  font-size: calc(12px + 0.7vw);
  /* color: rgb(125, 125, 104); */
  /* color: rgb(127, 126, 126); */
  margin-top: 15%;
  /* padding-top: 5%; */
}

.home img {
  /* width: 20%; */
  padding-right: 2%;
  /* min-width: 200px; */
  margin: auto;
  max-width: max(30%, 300px);
  border-radius: 25px;
}

.home .greeting {
  /* padding-top: 30px; so text doesn't go above image when shrinked */
  padding-left: 2%;
}

/* TODO THINK ABOUT MAKING THIS LOOK BETTER WHEN SHRUNK */

.to-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.arrow {
  padding-left: 5px;
  padding-top: 3%;
}

.home a {
  color: rgb(127, 126, 126);
  text-decoration: none;
}

.home a:hover {
  color: rgb(87, 86, 86);
  /* text-shadow: 0px 0px 2px; */
  font-size: calc(12px + 0.9vw);
  transition: all 0.5s;
}

.home p {
  line-height: 30%;
}
