/** styling the table **/

table {
  margin: 3% 5% 0% 5%;
}

th {
  font-family: "Philosopher";
  font-size: calc(14px + 0.6vw);
  font-weight: inherit;
  color: inherit;
}

td {
  font-family: "Mulish";
  font-size: calc(14px + 0.2vw);
  padding: 2%;
  vertical-align: top;
  font-weight: inherit;
  color: rgb(79, 79, 79);
}

/* td .arrow-cell {
  width: 300px;
  vertical-align: center;
} */

/* .arrow-cell img {
  width: 90%;
  margin: 0;
  padding: 0;
} */

.arrow-cell {
  /* display: flex;
  justify-content: center; */
  padding-right: 40px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  margin: 0 20%;
}

#figmas {
  margin: 0 5%;
}

.carousel img {
  border-radius: 25px;
  width: 100%;
}

.arrow {
  color: black;
  margin: 5%;
}

.img {
  border-radius: 25px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  z-index: 1;
  margin-left: 20%;
  padding-top: 3%;
}

.slider img {
  border-radius: 25px;
}

.final-img {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  width: 100%;
  filter: drop-shadow(10px 5px 5px rgb(206, 206, 206));
}

.final-img img {
  border-radius: 25px;
}

.final-img:hover {
  cursor: pointer;
}
