.HeyThere {
  text-align: center;
  height: 88.5vh;
  display: flex;
  justify-content: center;
}

#sun {
  margin: 0 0 0 0;
  padding: 0;
  width: 70vw;
  min-width: 300px;
  max-width: 500px;
}

#bee {
  height: 15vh;
  padding: 0 0 8% 0;
}

#bee:hover {
  cursor: pointer;
}

.HeyThere h1 {
  font-size: 11vh;
  margin: 0;
  padding: 6% 0;
}

.heyContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  width: 100%;
}
