/* Main navbar container */
.navbar {
  /* overflow: hidden; */
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0% 3% 0% 3%; */
  /* background-color: rgb(201, 201, 201); */
  background-color: white;
  opacity: 80%;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: calc(12px + 0.5vw);
  font-family: "Mulish";
  /* font-weight: lighter; */
  background-color: aquamarine;
}

.navbar h1 {
  text-align: left;
  font-size: calc(40px + 0.5vw);
}

.navbar h2 {
  text-align: left;
  font-weight: lighter;
}

/* portfolio header */
.left-navbar {
  font-family: "Philosopher";
  font-size: calc(20px + 1vw);
  flex: 2 1 0;
  padding-left: 2%;
}

/* other links */
.right-navbar {
  flex: 1 1 0;
  display: flex;
  justify-content: space-evenly;
}

.right-navbar h2 {
  flex: 1 1 0;
}

/* links inside nav bar */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* change nav links on hover */
.navbar a:hover,
.dropdown:hover {
  background-color: #ddd;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s;
}

@media (max-width: 1142px) {
  .left-navbar {
    flex: 1 1 0;
    transition: all 0.5s;
  }
}

/* new */

.dropdown {
  /* display: flex; */
}

.dropdown h2 {
  display: block;
}

.dropdown h2 {
  text-align: left;
  margin-right: 400px;
}

/* .dropdown { */
/* display: none;
} */

/* .dropdown-control:hover + .dropdown {
  display: block;
} */

.dropdown-control {
  position: relative;
  display: inline-block;
}

.dropdown-control:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 999;
}
