body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--header-font);
  background-color: var(--main-background);
  color: var(--text-color);
}

.section {
  min-height: 270px;
  /* min-height: 19vw; */
  /* min-height: 50vw; */
  margin: 8% 7%;
}

p {
  font-family: var(--text-font);
}

/* links */

.underlinelink {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
}

.underlinelink:hover {
  color: var(--text-color);
}

.underlinelink::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  /* width: fit-content; */
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.underlinelink:hover::before {
  transform: scaleX(1);
}

/* bee cursor */

#mouseBee {
  width: 2.5em;
  height: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 20px rgba(16, 0, 54, 0.2); */
  transition: 0.1s ease-out;
  /* transition: 0.3s ease-out; */
  z-index: 999999999;
}
