.projectcard {
  border-radius: 25px;
  width: 30%;
  margin: 3%;
  text-align: left;
  font-size: calc(12px + 1vw);
}

.projectcard img {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 2%;
  /* filter: drop-shadow(10px 5px 5px rgb(206, 206, 206)); */
}

.projectcard h3,
p {
  padding: 0;
  margin: 0;
  margin-top: 3%;
}

p {
  color: rgb(79, 79, 79);
}

.projectcard a {
  text-decoration: none;
  color: black;
}

.img-hover-container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  border-radius: 25px;
  filter: drop-shadow(10px 5px 5px rgb(206, 206, 206));
}

.viewMore {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  height: 100%;
  vertical-align: center;
  opacity: 75%;
  padding-top: 50%;
}

.img-hover-container:hover .viewMore {
  display: block;
  transition: all 0.5s;
}
